*.iml
.gradle/
.kotlin/
/.idea/
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
keystore.properties
*.apk
*.aab
app/release/
**/server-data/public/*
**/server-data/history/*
**/server-data/logs/*
!/server-data/public/.gitkeep
/caddy.exe
